// not sure if i want to use these
// @import url("https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700");
// $font-primary: 15px/20px Inconsolata, sans-serif;

// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
// $font-secondary: small-caps 15px/20px Open-Sans, serif;

////////////////// TABLE OF CONTENTS \\\\\\\\\\\\\\\\\\\
/// fonts
/// variables
/// elements
/// classes
/// text icon overview



@import url('https://fonts.googleapis.com/css2?family=Joan&family=Source+Code+Pro:wght@200;400&display=swap');
/* 
Syntax to use:
font-family: 'Joan', serif;
font-family: 'Roboto Mono', monospace;
*/

@font-face {
  font-family: "manbow";
  src: url("./images/manbow tone.otf");
}
/* 
Syntax to use:
font-family: 'manbow';
*/

////////////////// VARIABLES \\\\\\\\\\\\\\\\\\\
:root {
  // --color-primary: rgb(247, 193, 193);
  --color-primary: #75d0f0;
  --color-secondary: #f2934a;
  --color-darker: #1b263b;
  --color-dark: #3a4ca6;
  --color-light: #c7ce9f;
  --color-lighter: #e7ecca;
  --color-disabled: #d6d8e1;
}
/* 
Syntax to use:
background: var(--color-darker);
color: var(--color-primary);
**/


////////////////// ELEMENTS \\\\\\\\\\\\\\\\\\\
a {
  color: var(--color-primary);
  text-decoration: none;
}

fieldset {
  border: 0px;
}

h1, h3 {
  font-family: 'Joan', serif;
}

h2, p {
  font-family: 'Roboto Mono', monospace;
}

label {
  margin: 1em 0.5em 1em 0.5em;
  word-break: break-word;
}

button {
  background-color: transparent;
  color: var(--color-primary);
  font-family: monospace;
  font-size: medium;
  border: 2px solid var(--color-primary);
  border-radius: 99px;
  padding: 1em 2em;
  margin: 1em;
  cursor: pointer;

  &:secondary {
    color: var(--color-secondary);
  }

  &:disabled {
    border: 1px solid var(--color-disabled);
    color: var(--color-disabled);
  }
}

input {
  border: 0;
  margin: 1em 1em 0em 1em;
  outline: none;
  padding: 0.25em 1em 0.25em 1em;
  text-overflow: ellipsis;
  border-radius: 10px;
}

input[type="checkbox"] + label {
  align-self: flex-end;
}

textarea {
  border-radius: 10px 10px 0px 10px;
  margin: 1em;

  // these two lines allow our label on the textarea to be vertically centered
  display: inline-block;
  vertical-align: middle;
}

select {
  color: var(--color-lighter);
  font-weight: 900;
  text-align: end;
  background-position: center;
  width: 9em;
  padding: 0.5em 1em;
  margin: 1em;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

////////////////// CLASSES \\\\\\\\\\\\\\\\\\\
.app {
  background-color: var(--color-darker);
  color: var(--color-primary);
  min-height: 100vh;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.3em;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

// this currently is nonsense in positioning
.notification {
  background-color: var(--color-light);
  border-radius: 50%;
  color: white;
  width: 1em;
  height: 1em;
  left: 242px;
  bottom: 51px;
  padding: 2px 3px 2px 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlight {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.4),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.code {
  color:  var(--color-secondary);
  font-family: monospace;

  .method_name {
      font-size: larger;
  }
  .arguments {
      color: var(--color-secondary);
  }
}

.finePrint {
  font-size: small;
}


.listedItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

//////////// ICONS
/// Most are sourced from FontAwesome at the free tier:
/// https://fontawesome.com/search?q=map&o=r&m=free&c=maps
/// 
///////// SPECIFIC ICONS
/// The pushpin icon is sourced from FontAwesome:
/// https://fontawesome.com/icons/map-pin?f=classic&s=solid&pc=%23000000