@import '../src/Mapp/Mapp.scss';

header {
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 1em;
}

.title {
    color: var(--color-primary);
    font-size: calc(10px + 7vmin);
    text-align: left;
    font-family: 'manbow';
}

.byline {
    color: var(--color-secondary);
}

// .navigation {
//     text-decoration: none;
//     list-style: none;
//     text-align: left;
//     margin-right: 5%;
// }

.mapp-logo {
    height: 20vmin;
    pointer-events: none;
}

.user_tools {
    color: var(--color-light);
    
    > * {
        display: block;
        margin: 1em auto;
    }
}

// .icon-orange {
//     fill: var(--color-light);
// }

// @media (prefers-reduced-motion: no-preference) {
//     .app-logo {
//         animation: logo-spin infinite 20s linear;
//     }
// }


// @keyframes logo-spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }